.about_us {
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
  max-width: 1200px;
}

.about_us_header {
  margin-bottom: 25px;
  padding: 0px 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.information {
  max-width: 1000px;
  font-size: 20px;
  padding: 6px 50px;
}

.about_us_list {
  list-style-type: disc;
  padding: 12px 70px;
}
.text_wrapper {
  max-width: 800px;
  margin: auto;
}
.list_item {
  padding: 1px 0px;
  font-size: 20px;
}

@media (max-width: 550px) {
  .about_us {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about_us_header {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
