.delivery {
  margin: 40px 0px;
  line-height: 1.6;
  color: #333;
  font-size: 20px;
}

.delivery_items_box {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
}

.delivery_header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;

  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.map {
  max-width: 450px;
  height: 40vh;
  border-radius: 15px;
  padding: 0px 10px;
}

.delivery-info {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  border-left: 5px solid #ff69b4;
}

.delivery_list {
  list-style-type: disc;
  padding-bottom: 15px;
}

.bonus {
  background-color: #fff4f8;
  padding: 15px;
  border-radius: 8px;
  border: 1px dashed #ff69b4;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

h3 {
  margin-bottom: 15px;
  color: #d63384;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.highlight {
  color: #d63384;
  font-weight: bold;
}

.delivery_button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 16px;

  width: 250px;
  height: 65px;
  border-radius: 5px;
  border: none;
  background-color: #ff6e7e;
  color: #ffffff;
  cursor: pointer;
}

.delivery_button:hover {
  opacity: 0.9;
}

@media (max-width: 960px) {
  .delivery_items_box {
    padding: 0px 20px;
    flex-wrap: wrap;
  }

  .delivery_list {
    padding-left: 15px;
  }
}

@media (max-width: 560px) {
  .delivery_button {
    width: 100%;
  }
}
