.gallery {
  padding-top: 75px;
  background-color: #fafafa;
  text-align: center;
}

.gallery_header {
  padding-bottom: 35px;
  font-size: 40px;
  color: #333;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.gallery_wrapper {
  max-width: calc(351px * 3 + 8px * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.gallery_list {
  width: 100%;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;

  scroll-behavior: smooth;
}

.gallery_list::-webkit-scrollbar {
  background: transparent;
}

.gallery_item {
  flex: 1 0 33%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebdfdf;
}

.gallery_item_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  bottom: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s;
}

.gallery_arrow:hover,
.gallery_arrow:focus {
  opacity: 1;
}

.gallery_arrow_prev {
  left: 0;
}

.gallery_arrow_next {
  right: 0;
}

.gallery_text_wrapper {
  margin: 25px 25px;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.gallery_order_button {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 200px;
  height: 40px;

  background-color: #ff6e7e;
  border: none;
  border-radius: 15px;
}

@media (max-width: 1170px) {
  .gallery_item_img {
    height: 350px;
  }

  .gallery_wrapper {
    max-width: 935px;
  }

  .gallery_text_wrapper {
    margin: 16px 8px;
  }
}

@media (max-width: 768px) {
  .gallery_item {
    flex: 1 0 100%;
    min-width: 100%;
    scroll-snap-align: start;
  }

  .gallery_wrapper {
    max-width: 100%;
    padding: 0 38px;
  }

  .gallery_list {
    margin: 16px 0;
    scroll-snap-type: x mandatory;
  }

  .gallery_arrow {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
