@import url(nav.css);
@import url(main_section.css);
@import url(gallery.css);
@import url(about_us.css);
@import url(party.css);
@import url(all_other_party.css);
@import url(delivery.css);
@import url(contacts.css);

.body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

a,
p,
h1,
h2,
h3,
li {
  font-family: "Cardo";
  font-weight: 400;
}
