@import url(nav.css);
@import url(main_section.css);
@import url(gallery.css);
@import url(about_us.css);

.body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

a,
p,
h1,
h2,
li {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
}
